<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    header
</header>
<body>
    <form action="" method="post">
    <textarea cols="30" rows="10" name="tale" ></textarea><br>
    <input type="date" name="date">
    <select name="years">
        <option value="0-3">0-3</option>
        <option value="3-7">3-7</option>
        <option value="7-12">7-12</option>
    </select><br>
    <input type="submit">
    </form>
</body>
<footer>
    <footer>
        footer
    </footer>
</footer>
</html>