<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="dark.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<header>
    header
</header>

<body>
    <button class="btn-toggle"> Переключить тему</button>
        <div>
        <a href="/farytale/0-3">0-3</a>
		<a href="/farytale/3-7">3-7</a>
		<a href="/farytale/7-12">7-12</a>
    </div>
    {{{body}}}
</body>
<footer>
    <footer>
        footer
    </footer>
</footer>
<script type="text/javascript" src="dark.js"></script>
</html>